@use 'vuetify/settings' with (
  $color-pack: false
);

@import url(https://fonts.bunny.net/css);
@import url(https://fonts.bunny.net/css?family=abeezee:400|allura:400|vibur:400|cookie:400);
@import "./variables.scss";

.v-toolbar-title__placeholder {
    overflow: visible !important;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.text-tertiary {
    color: $tertiary;
}

.text-secondary {
    color: $secondary;
}
.bgPrimary {
    background-color: $primary;
}

.v-timeline .v-timeline-divider__inner-dot {
    background-color: $primary !important;
}

.titleh3Underline::after {
    content: " ";
    display: inline-block;
    width: 175px;
    position: relative;
    left: -155px;
    bottom: -12px;
    border-bottom: 4px solid $secondary;
}

body {
    margin: 0;
    padding: 0;
}

h3 {
    font-weight: bold;
    font-size: 25px;
}

.transitionPageAnimated {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.flex-end {
    display: flex;
    justify-content: flex-end;
}

.v-app-bar {
    background-color: $primary !important;
}

.v-timeline--horizontal.v-timeline {
    grid-column-gap: 0px;
}



