/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

@import url(https://fonts.bunny.net/css);
@import url(https://fonts.bunny.net/css?family=abeezee:400|allura:400|vibur:400);
@import "./variables.scss";

.v-toolbar-title__placeholder {
    overflow: visible !important;
}

* {
    box-sizing: border-box;
}

.v-application {
    background-color: $primary !important;
}


